@import "colors";

/* Base Application Styles */
body {
  margin: 15px;
  margin-top: 25px;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 70px;
  font-weight: 700;
  color: #fff;
  text-shadow: 1px 1px 0 #000000;
  background: $bgcolor;
}
a {
  color: #0088cc;
  text-decoration: none;

  &:hover {
    color: #005580;
  }

  &:hover, &:active {
    outline: 0;
  }
}
